server:
  port: 8080
  shutdown: graceful
  tomcat:
    threads:
      min-spare: 20
      max: 200
    accept-count: 200
    max-connections: 8192
    max-keep-alive-requests: 200
spring:
  profiles:
    active: dev
  application:
    name: @artifactId@
  threads:
    virtual:
      enabled: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 1GB
      max-request-size: 1GB
  jackson:
    deserialization:
      fail-on-unknown-properties: false
    date-format: yyyy-MM-dd HH:mm:ss
  task:
    execution:
      pool:
        core-size: 8
        max-size: 32
        queue-capacity: 1024
  data:
    redis:
      database: 15
      host: 191.168.10.70
      port: 6379
      password: Itsm_2025
      connect-timeout: 10s
      lettuce:
        pool:
          max-active: 32
          max-idle: 12
          min-idle: 4
      repositories:
        enabled: false
  cache:
    type: redis
    redis:
      time-to-live: 1h
      key-prefix: "cache::"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://191.168.10.71:3306/seed?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: seed
    password: Seed@2022
    hikari:
      maximum-pool-size: 20
      minimum-idle: 4
      keepalive-time: 300000
      idle-timeout: 1800000
      max-lifetime: 7200000
      connection-timeout: 10000
      validation-timeout: 3000
management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  security:
    user:
      name: actuator
      password: 123456
      roles: ACTUATOR
mybatis-flex:
  global-config:
    print-banner: false
    key-config:
      key-type: auto
    logic-delete-column: deleted
    normal-value-of-logic-delete: 0
    deleted-value-of-logic-delete: 1
logging:
  level:
    root: info
    web: debug
    io.github.seed: debug
seed:
  file-storage:
    root-path: /upload
    type: minio
    local:
      upload-dir: /Users/peng/tmp/seed
    minio:
      endpoint: http://191.168.10.70:9000
      access-key: rgfj2o2KCq8IQ58THGps
      secret-key: w1uZCAmYvFdnTEdlg0h6tkDbyiEQsXCmjJh90d07
      bucket-name: seed

# 测试环境
---
spring:
  config:
    activate:
      on-profile: test
logging:
  file:
    path: logs/${spring.application.name}
  level:
    root: info
    web: debug
    io.github.seed: debug

# 生产环境
---
spring:
  config:
    activate:
      on-profile: prod
management:
  endpoint:
    health:
      show-details: when_authorized
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
logging:
  file:
    path: logs/${spring.application.name}
  level:
    root: info
    web: info
    io.github.seed: info
