<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.seed.mapper.sys.SysUserMapper">

    <select id="queryList" resultType="io.github.seed.model.dto.UserInfo">
        SELECT
          u.*,
          d.name AS dept_name
        FROM
          sys_user u
        LEFT JOIN sys_dept d
          ON d.id = u.dept_id
        WHERE
          u.is_deleted = 0
        <if test="param.username != null and param.username != ''">
            AND u.username = #{param.username}
        </if>
        <if test="param.mobile != null and param.mobile != ''">
            AND u.mobile = #{param.mobile}
        </if>
        <if test="param.nameLike != null and param.nameLike != ''">
            AND u.name LIKE '%' || #{param.nameLike} || '%'
        </if>
        <if test="param.deptId != null">
            AND u.dept_id = #{param.deptId}
        </if>
        <if test="param.status != null">
            AND u.status = #{param.status}
        </if>
        <if test="param.gender != null">
            AND u.gender = #{param.gender}
        </if>
        <if test="param.excludeSelf != null and param.excludeSelf == true and param.loginUserId != null">
            AND u.id != #{param.loginUserId}
        </if>
    </select>

</mapper>
